
.logo {
    width: 40px;
    height: auto;
    vertical-align: bottom;
}

form

.search-form {
    margin-bottom: 25px;
}

.search-form button {
    margin: 0;
}

.edit-form,
.add-form {
    padding: 25px;
    background-color: #f9f9f9;
}

.edit-form #services,
.add-form #services {
    width: 100%
}

.edit-form .row,
.add-form .row {
    margin-bottom: 25px;
}

.top {
    display: table;
    width: 100%;
    padding: 0 25px;
    background: #dedede;
}

.sidebar {
    background: #F5F5F5;
}

.actions a {
    margin: 0 5px;
}

.actions .disabled a {
    color: #ccc;
}

.vertical-table {
    margin-bottom: 25px;
}

.vertical-table th {
    padding: 2px 25px 5px 0;
}

button[type="submit"] {
    width: 150px;
}

.paginator {
    display: table;
    margin: 25px 0;
}

.paginator ul {
    margin: 0;
}

.paginator p {
    margin: 0;
    text-align: center;
    color: #666;
}

.breadcrumb .active a {
    text-decoration: underline;
    font-weight: bold;
}

.btn-print {
    margin-right: 15px;
}

@media print {
  body * {
    visibility: hidden;
  }
  #printable, #printable * {
    visibility: visible;
  }
  #printable {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0
  }

  form, button, .btn {
      display: none;
  }
}